<!DOCTYPE html>
<!-- Default home page -->
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hi <%= name %>,</p>
		<p>
        The following ReportHub users <%= reason %>:
    </p>
    <p>
      <ul><li><%= usernamesString %></li></ul>
    </p>
		<p>
			To activate, please contact your organization or cluster admin.
		</p>
		<p><%= sendername %></p>
	</body>
</html>
